@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main styling */
body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7rem;
}

/* Header section */
.navbar{
    background-image: url(./1.jpg);
    background-position:  center;
    background-size: cover;
    height: 800px;
    color: white;
    overflow: auto;
}

.container{
    background-color: rgb(4, 71, 14);    
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;    
    font-size: 18px;
    justify-content: space-between;
}

.logo{
    display: inline-flex;
    padding-left: 30px;
}

.logoname{
    padding-left: 25px;    
    color: white;
    text-decoration: none;
    font-size: 20px ;
}
.logoname:hover{
    color: #0cbe36;
}

.nav-group{
    padding-right: 50px;
}

.nav-group ul li{
    display: inline;
    margin-left: 50px;
}
.nav-group ul li a{    
    text-decoration: none;
    padding: 10px;
    color: white;
}

.nav-group ul li a:hover{
    color: #0cbe36;
    border-bottom: 3px solid #0cbe36;
    padding-bottom:  19px;
}
.nav-group li.current{
    color: #0cbe36;
    border-bottom: 3px solid #0cbe36;
    padding-bottom:  19px;
}
.nav-group li.current a{
    color: #0cbe36;
}

.btn-cta{
    margin-top: 120px;
    margin-right: 140px;
    padding: 10px;
    border-radius: 20px;
    float: right;
    background-color: #04470e;
    color: #fff; 
    text-decoration: none;
}

.btn-cta:hover{
    background-color: #fff; 
    color: #04470e;
}

/* features section */
#features{
    background-color: #f4fef9;
}

#features h2{
    color: #b45858;
    padding-top: 20px;
    padding-left: 17px;
}

#features h2 span{
    color: #1e7045;
    /* overflow: auto; */
}

.box{
    padding-top: 20px;
    font-size: 20px;
}

#features .box p{    
    float: left;
    width: 30%;
    border-radius: 25px;
    border-width: 10px;
    margin: 15px;
    padding: 10px;
    background-color: white;
    color:#1e7045;
    text-align: left;    
}
 .farming{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
/* before footer section */
.bf-footer{
    background-image: url(./2.jpg);
    background-position: no repeat center center/cover;
    height: 750px;
}

/* Footer */
.footer{
    background-color: rgb(4, 71, 14); 
    color: white;
    display: flex;
}
.footer .logo-footer{
    display: block;
}
.footer img{
    padding-top: 30px;
    padding-left: 50px;
}
.footer h4{
    padding-left: 30px;
    font-size: 25px;
}
.groups{
    /* width: 20%; */
    text-align: left;
    display: flex;
    padding: 30px;
    margin: 0 50px;
}
.footer-head{
    color: #93F678;
}
.groups .left-footer ul li{
    list-style: none;
    padding-left: 180px;
}

.groups .middle-footer ul li{
    list-style: none;
    padding-left: 70px;
}
.groups .right-footer ul li{
    list-style: none;
    padding-left: 70px;
}
.socials{
    text-align: right;
    padding-left: 70px;
}
.socials ul li{
    text-align: justify;
    list-style: none;
}
.socials ul li a{
    text-decoration: none;
    color: white;
    list-style: none;
}

.socials ul li a .fa-brands{
    padding-right: 10px;
}
